#macro que muestra las temperaturas de los drivers
# printer.extruder0.temperature

# variable que para cuando se hace home en z, esta se activa cuando se empieza el home
# si cuando la impresora se inicia y tiene esta variable activa entonces se ejecuta el comando